
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter, "Mi nombre" %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body, "Mi comentario" %><br>
    <%= form.text_area :body %>
  </p>
  <button class="btn btn-outline-primary">
    <%= form.submit %>
  </button>
<% end %>