<div id="<%= dom_id article %>">

<br>
<div class="card mx-auto  border-dark" id="article-card">
  <div class="card-header bg-secondary text-white">
    <p>
      <strong>Título:</strong>
      <%= article.title %>
    </p>
  </div>
  <div class="card-body">
    <p>
      <%= article.body %>
    </p>
  </div>
  <div class="card-footer d-flex bg-secondary">

    <%= link_to edit_article_path(@article), class: "btn btn-outline-dark btn-sm mx-auto", title: "Editar" do %>
      <i class="bi bi-pencil"></i>
    <% end %>

    <%# <%= link_to @article, title: "Eliminar", class:"btn btn-outline-dark btn-sm mx-auto",
        data: { turbo_method: :delete, turbo_confirm: "¿Está seguro?"
              } do %>
                <%# <i class="bi bi-trash"></i> %>
              <%# <% end %> 
    
    <%= button_to @article, method: :delete, title: "Eliminar", class:"btn btn-outline-dark btn-sm mx-auto" do %>
      <i class="bi bi-trash"></i>
    <% end %>
  
    <%= link_to articles_path, class: "btn btn-outline-dark btn-sm mx-auto", title: "Volver a Artículos" do %>
      <i class="bi bi-arrow-counterclockwise"></i>
    <% end %>

    <br>

  
  </div>
</div>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </li>
</ul>