<p style="color: green"><%= notice %></p>

<%= render @article %>

<h3 class="text-center">Comentarios  <span class="text-muted fs-5">( <%= @article.comments.size %> )</></span></h3>
<br>
<table class="table table-primary table-hover border border-primary">
  <thead>
    <tr class="table-info">
      <th scope="col-3" class="text-left">
        <strong>Hecho por</strong>
      </th>
      <th scope="col-8" class="text-center">
        <strong>Comentario</strong>
      </th>
      <th scope="col-1" class="text-center">
        <strong>Eliminar</strong>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @article.comments %>
  </tbody>
</table>

<%# BUTTON add new article %>




<h2>Add a comment:</h2>
<%= render 'comments/form' %>